
        <div class="logo">
            <h1><a href="/">Andrew Suzuki</a></h1>
        </div>
        <nav>
            <ul>
                <li><a href="/" <%- activeOn('index') %>>Home</a></li>
                <li><a href="/blog" <%- activeOn('blog') %>>Blog</a></li>
                <li><a href="/work" <%- activeOn('work') %>>Work</a></li>
                <li><a href="https://github.com/andrewsuzuki" target="_blank">Github</a></li>
                <li class="breaker"></li>
                <li><a href="/resume.pdf" target="_blank">Resume</a></li>
                <li><a href="/about" <%- activeOn('about') %>>About</a></li>
                <li><a href="/contact" <%- activeOn('contact') %>>Contact</a></li>
            </ul>
        </nav>
        <canvas id="voro" resize="true"></canvas>

